$input-focus-bg:                        $custom-gold;
$input-focus-border-color:              $custom-gold;
$input-focus-color:                     $custom-gold;
$input-focus-box-shadow:                $custom-gold;
