
$pagination-color:                  $custom-white;
$pagination-bg:                     $custom-gray-light;

$pagination-hover-color:            $custom-white;
$pagination-hover-bg:               $custom-gray-dark;

$pagination-focus-color:            $custom-white;
$pagination-focus-bg:               $custom-gray-dark;
$pagination-focus-box-shadow:       none;

$pagination-active-bg:              $custom-gray-dark;
$pagination-active-border-color:    $custom-white;

